<!DOCTYPE html>
<html>

<head>
    <Title>Go Money</Title>
</head>

<body>
    <h1>Go Money</h1>
    <h2>Quick links</h2>
    <ul style="list-style: none">
        <li><a href="/files/api.yml">OpenAPI documentation</a></li>
        <li><a href="http://104.248.29.228:8080/">Swagger editor</a></li>
        <li><a href="/files/GoMoney.postman_collection.json">Postman collection</a></li>
        <li><a href="https://github.com/angelbachev/go-money-api">Code repository</a></li>
    </ul>

    <hr>
    <h2>Released at {{.ReleasedAt}}</h2>
</body>

</html>